[Desktop Entry]
Type=Application
Version=1.5
Name=RSSSTV
GenericName=SSTV
Comment=SSTV for amateur radio
Exec=rssstv
Icon=rssstv
Terminal=false
Categories=AudioVideo;Audio;HamRadio;
Keywords=SSTV;amateur radio;ham radio;MMSSTV;
StartupWMClass=rssstv
