// MMSSTV `def4.mtm`, ported.
//
// Fonts: Comic Sans MS, Arial.

text "${contact.callsign} ${report.sent} de ${station.callsign}" {
    position x=(fw)98.8 y=(fh)100 anchor="bottom-right"
    font family="Comic Sans MS" size=(fh)6.6 weight=700
    fill color="#ffff00"
    stroke color="#000000" width=(em)0.118
}

text "${station.callsign}" {
    position x=(fw)98.1 y=(fh)1 anchor="top-right"
    font family="Arial" size=(fh)7 weight=700
    fill color="#ffffff"
    stroke color="#000000" width=(em)0.111
}
